section(data-role="page", id="acerca")
  header(data-role="header")
    h1 Acerca
  section(data-role="content")
    p School of tuts es un proyecto de 3 jovenes universitarios
      | con el proposito de brindar una alternativa al proceso de enseñanaza.
    p 
      a(href="#one") Regresar
  footer(data-role="footer")
    h4 (c) numbus Inc