section(data-role="page", id="one")
  section(data-role="header")
    h1= title
  section(data-role="content")
    a(href="#registrar", data-role="button" , data-theme="c" ,class="ui-btn ui-btn-corner-all ui-shadow ui-btn-hover-c ui-btn-up-c")
      span(class="ui-btn-inner ui-btn-corner-all")
        span(class="ui-btn-text") Registrar
    a(href="#login", data-role="button" , data-theme="c" ,class="ui-btn ui-btn-corner-all ui-shadow ui-btn-hover-c ui-btn-up-c")
      span(class="ui-btn-inner ui-btn-corner-all")
        span(class="ui-btn-text") Login
  footer(data-role="footer")
    h4 (c) numbus Inc

include includes/acerca
include includes/login
include includes/registrar