!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.6.3.min.js")
    script(type="text/javascript", src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js")
  body!= body
    